# Server
PORT=
JWT_SECRET=
NODE_ENV=

# Client
FRONTEND_URL=""

# Database
# DATABASE_URL="mysql://accent_user:accent_pass@localhost:3307/accent_crm"
DATABASE_URL=""
SHADOW_DATABASE_URL=""

# This was inserted by `prisma init`:
[object Promise]